@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Freshman Font';
  src: url('./lib/Freshman-POdx.ttf');
}

.dark a,
.dark a:visited {
  &:not(nav a) {
    color: #8ab4f8;
  }
}
.dark .prose {
  --tw-prose-headings: #ddd;
}
